#about {
    & .card {
        width: 0;
        overflow: hidden;
        @include flex(row,center,center,nowrap);
        & .picture {
            margin: 0 auto;
            width: 300px;
            height: 300px;
            min-width: 300px;
            background-image: url(../img/profil.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            filter: grayscale(.6);
            border-radius: 5px;
            box-shadow: 0px 12px 12px 6px rgba(0, 0, 0, .5);
            border-left: rgb(100, 0, 100) 10px solid;
            position: relative;
            overflow: hidden;

            // ANIMATION
        }
        & .desc {
            padding: 1rem;
            // width: calc(100% - 350px);
            // width: 75%;
            font-size: 1.2rem;
            line-height: 2rem;
            box-shadow: 12px 12px 12px 6px rgba(0, 0, 0, .5);
            float: left;
            overflow: hidden;

            // position: relative;
        }
        // & .picture:hover {
        //     background-image: url(../img/photomask.png);
        // }

    }
}
