body {
    font-family: "Roboto Regular", sans-serif;
    background-color: whitesmoke;
}
a {
   text-decoration: none; 
   color: inherit;
}
a:hover {
    color: $cThemeLight;
}
h1, h2, h3, h4, h5 {
    margin: 0;
    font-family: "Roboto Black";
}
h1 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
}
h2 {
    font-size: 2rem;
}

/* //////////////// */
/* // CLASS SPEC // */
.content {
    @extend %container;
    position: relative;
}
.bgImg {
    @extend %bgImage;
}
.overlay {
    @extend %overlay;
}
.imgFluid {
    @extend %imgFluid;
}
.relative {
    position: relative;
}

/* /////////////// */
/* // SECTIONS //  */
    .intersection {
        width: 100%;
        height: 2rem;
        filter: brightness(.4);    
    }
    .mainSection {
        padding: 6rem 0;
    }
    .sectionContent {
        padding-bottom: 1rem;
        width: 100%;
        margin: 0 auto;
    }
    .sectionDeco {
        width: 5px;
        height: 100%;
        background-color: $cThemeDark;
        position: absolute;
        left: 0;
    }
    .sectionHead {
        margin: 0 auto;
        line-height: 2rem;
        text-align: center;
        text-transform: uppercase;
        font-family: "Roboto Black", sans-serif;
        & p {
            font-family: "Roboto Regular";
            font-size: 1rem;
            padding: 1rem;
        }
    }
    .sectionHead h2 {
        margin-bottom: 2rem;
    }

    #toTop {
        font-family: "Roboto Black";
        padding: 5px;
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        border-radius: 5rem;
        display: none;
        cursor: pointer;
        color: $cThemeLight;
        background-color: $cLight;
        text-align: center;
        border: 1px solid transparent;

       

    }
    #toTop:hover {
        border: 1px solid $cThemeLight;
    }