#contact form {
    margin: 0 auto;
    border: none;
    @include flex(row, space-between, center, wrap);

    max-width: 800px;
    & > div {
        @include flex(column,center, flex-start, nowrap);
    }
    &>div:not(:last-of-type) {
        width: 350px;
        & input {
            width: 100%;
            height: 35px;
        }
    }
    &>div:last-of-type {
        width: 100%;
        & textarea {
            width: 100%;
            height: 140px;
            resize: none;
        }
    }
    & :last-child {
        text-align: center;
    }
}