// MIXIN POUR FONCTION

@mixin flex($dir, $just, $al) {
    display: flex;
    flex-direction: $dir;
    justify-content: $just;
    align-items: $al;

}

@mixin font($ffam, $fweight, $fsize, $lspace: 0) { //0 = valeur par défaut
    font-family: $ffam;
    font-weight: $fweight;
    font-size: $fsize;
    letter-spacing: $lspace;
}