.navigation {
    background-color: $blue;
    color:$white;
    &>ul {
        list-style: none;
        padding: $paddingSection;
        @include flex(row, flex-end, center);
        li {
            text-transform: uppercase;
            @include font("Elephant",900, 2rem, .5rem);
            &:not(:last-child) {
                margin-right:20px;
            }
            a {
                text-decoration: none;
                color: $white;
            }
        }
        .page2 & li {
            text-transform: capitalize;
        }
    }
}