// COLORS
    // FONT COLOR
        $cDark: rgba(51,51,51,1);
        $cLight: rgba(245,245,245,1);
    // THEME COLOR
        $cThemeLight: rgba(164,0,164,1);
        $cThemeDark: rgba(100,0,100,1);
    //BUTTON
        $cBtn1: rgba(100,0,100,1);
        $cBtn2: rgba(164,0,164,1);
    //NETWORK
        $cNetFb:rgba(52, 82, 139, 1);
        $cNetTw:rgba(88, 175, 237, 1);
        $cNetGp:rgba(221, 75, 61, 1);
        $cNetIg:rgba(192, 51, 130, 1);

//BORDER
    // RADIUS
        $brad:5px;
    // BORDER
        $border: rgba(245,245,245,1) 1px solid;


// PADDING & MARGING
    $padSection: 30px 0; // Section
    $padTitle: 0 0 15px 0; // Title
    $padBtn: 8px 35px; // Button
    $padInput: 10px; // Input
    $mBotG: 10px;


// TRANSITIONS 
    $trAll: all 400;
    $trCol: color 400;
